// Elements
$background: #fffffe;
$headline: #094067;
$paragraph: #5f6c7b;
$button: #3da9fc;
$button-text: #fffffe;

// Illustration
$stroke: #094067;
$main: #fffffe;
$highlight: #3da9fc;
$secondary: #90b4ce;
$tertiary: #ef4565;

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
