// Elements
$background: hsl(60, 100%, 100%);
$headline: hsl(205, 84%, 22%);
$paragraph: hsl(212, 13%, 43%);
$button: hsl(206, 97%, 61%);
$button-text: hsl(60, 100%, 100%);

// Illustration
$stroke: hsl(205, 84%, 22%);
$main: hsl(60, 100%, 100%);
$highlight: hsl(206, 97%, 61%);
$secondary: hsl(205, 39%, 69%);
$tertiary: hsl(349, 84%, 60%);

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 0%);
}
